$dark-txt: #3b434d;
$light-txt: #fff;
$accent: #a62ad7;
$main-font: "OpenSans-Regular", sans-serif;
$bold-font: "OpenSans-Bold", sans-serif;
$semibold-font: "OpenSans-SemiBold", sans-serif;
$extrabold-font: "OpenSans-ExtraBold", sans-serif;
$light-font: "OpenSans-Light", sans-serif;

$grid-float-breakpoint: 1199px;
