@import "fonts";
@import "font-awesome/font-awesome";
@import "bootstrap";
@import "bootstrap-compass";
@import "vars";
@import "base";
@import "../img/assets/index-pics/*.png";
@import "../img/assets/index-pics_hover/*.png";

@include all-index-pics-sprites;

/* Overall */
.main-nav.navbar-default {
  .navbar-toggle .icon-bar {
    background-color: $light-txt;
  }
}
h2.section-heading {
  font-size: 60px;
  font-family: $semibold-font;
  margin: 0;
  text-align: center;
}
h3.section-sub-heading {
  margin: 0 0 125px;
  font-size: 16px;
  text-align: center;
}
.light-section {
  background-color: rgba(255, 255, 255, .5);
  padding: 110px 0;
  .section-heading {
    color: $dark-txt;
  }
}
.colored-section {
  background: url("../img/colored-bg.png") no-repeat;
  background-size: cover;
  .section-heading {
    color: $light-txt;
  }
}

/* Main header */
.main-header {
  padding: 50px 0 100px;
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;
  color: $light-txt;
  &-top {
    margin-bottom: 175px;
  }
  a, p, span {
    color: $light-txt !important;
  }
  .header-img img {
    width: 100%;
  }
}
.main-nav.navbar-default {
  background: transparent;
  border: none;
  margin: 0;
  line-height: 60px;
  .navbar-nav li {
    display: inline-block;
    float: none;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .navbar-nav li a {
    padding: 0 24px;
    line-height: 38px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    @include transition(all, .4s);
    &.active,
    &:hover {
      background: $accent;
    }
  }
}
.header-greeting {
  padding-top: 65px;
  margin-bottom: 50px;
  &_title {
    font-size: 60px;
    font-family: $bold-font;
    margin: 0 0 60px;
  }
  &_description {
    margin: 0;
    line-height: 30px;
  }
}
.header-apps {
  &_heading {
    font-family: $semibold-font;
    font-size: 28px;
    margin-bottom: 30px;
  }
  &_links {
    li:first-child {
      margin-right: 34px;
    }
    a {
      width: 200px;
      height: 71px;
      background-image: url("../img/sprites/app-links.png");
      background-repeat: no-repeat;
    }
  }
  &_appstore {
    background-position: 0px 0px;
  }
  &_playmarket {
    background-position: -232px 0px;
  }
}
/* Features */
.features {
  background-blend-mode: color;
  background-image: url("../img/features-bg.png");
  background-position: top;
  background-size: cover;
  background-color: rgba(255, 255, 255, .85);
  h2.section-heading {
    margin-bottom: 35px;
  }
  &-item {
    cursor: pointer;
  }
  &-item_img {
    height: 129px;
    width: 129px;
    margin: 0 auto 30px;
    &.index-pics_hover-full_n_hover:hover {
      @include index-pics_hover-sprite(full_hover);
    }
    &.index-pics_hover-image_g_hover:hover {
      @include index-pics_hover-sprite(image_g_hover);
    }
    &.index-pics_hover-listen_n_hover:hover {
      @include index-pics_hover-sprite(listen_hover);
    }
  }
  &-item_title {
    display: block;
    font-size: 30px;
    font-family: $semibold-font;
    margin-bottom: 30px;
  }
  &-item_description {
    margin: 0;
  }
}
/* New-app */
.newapp {
  padding-top: 90px;
  color: $light-txt;
  &-heading.section-heading {
    font-family: $main-font;
    color: $light-txt;
    margin-bottom: 100px;
  }
  &-img img {
    width: 100%;
  }
  &-option {
    position: relative;
    padding: 10px 0 0 57px;
    span {
      display: block;
    }
    &_sign {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 41.5px;
    }
    &_heading {
      font-size: 20px;
      font-family: $semibold-font;
    }
  }
}

@import "media";